.DesignBlock-img__test{
  background: white;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  justify-content: center;
  opacity: 0.5;
}
.button{
  cursor: pointer;
  background: url(../img/right_arrow.png)no-repeat right;
  padding: 48px 44px;
}