.top-nav{
margin: 50px 20px 20px;
  &__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__list{
    display: flex;
    align-items: center;
  }
  &__link a{
    text-decoration: none;
    color: black;
    font-size: 14px;
    text-transform: uppercase;
    margin-right: 60px;
  }
}
details summary.btn::-webkit-details-marker {
  display: none
}

